@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  scroll-behavior: smooth;
  color: rgb(45, 45, 45);
  font-family: "Josefin Sans", sans-serif;
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #e5903c 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
      transform:translateX(-25%);
  }

  100% {
      transform:translateX(25%);
  }
}

button {
  padding: .75rem 1.25rem;
  border-radius: 8px;
  text-decoration: none;
  border: 3px solid black;
}

a {
  color: #000;
  text-decoration: none;
}

.highlight {
  background-color: #0097B2;
}